{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-8 my-4">
        <div class="card">
            <h5 class="card-header text-center">Добавить рецепт</h5>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-info">Добавить</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock content %}
